@import "~bootstrap/dist/css/bootstrap.css";
body {
    background-image: url(../../gitsearch/images/manka.jpg);
    background-repeat: repeat;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    color: black;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
